CVXcanon==0.1.1
cvxpy==0.4.8
cycler==0.10.0
dill==0.2.5
ecos==2.0.4
fastcache==1.0.2
matplotlib==2.0.0
multiprocess==0.70.4
numpy==1.11.2
pandas==0.19.1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scipy==0.18.1
scs==1.2.6
six==1.10.0
sklearn==0.0
toolz==0.8.1
